.playparkour-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 20px; 
    padding-left: 40px;
    padding-right: 20px;
   height: 250px;
   width: auto;
}

.playparkour-wrapper::before {
    content: ""; 
    background-image: url('/images/image1.png');

    background-size: cover; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6; 
    z-index: -1;
}


.playparkour-wrapper h1 {
    color: var(--color-purple);
    margin-bottom: 10px; 
    font-size: 1.2rem;
   
}

.playparkour-wrapper p {
    width: 50%;
    color: var(--color-purple);
    font-size: 16px;
    
}

.playParkourButton {
    padding: 10px 20px;
    background-color: var(--color-yellow);
    border: none;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--color-purple);

}

.top-image {
    display: none;
}

/* Media query for screens between 600px and 900px */
  
@media (min-width: 601px) and (max-width: 900px) {
.playparkour-wrapper {
    height: 380px;
}    

.playparkour-wrapper h1 {
    font-size: 35px;
}

.playparkour-wrapper p {
    font-size: 21px;
    width: 63%;
}

.playParkourButton {
font-size: 20px;
}
}

/* Media query for screens between 600px and 900px */

@media (min-width: 601px) and (max-width: 900px) {
    
}

/* Media query for screens between 900px and 1200px */

@media (min-width: 901px) {
  
    .playparkour-wrapper {
        background-color: var(--color-green-opacity-60); 
      padding: 40px;
    }

    .playparkour-wrapper::before {
        content: ""; 
        background-image: none;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: right center; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        opacity: 0.6;
        z-index: -1;
    }

    .playparkour-wrapper h1 {
        font-size: 35px;
    }
    .playparkour-wrapper p {
        font-size: 25px;
        width: 40%;
    }
    .playParkourButton {
    font-size: 16px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px -5px 2px rgba(195, 180, 12, 0.5)
    }

    .playparkour-wrapper .top-image {
        display: inline;
        position: absolute;
        top: 50%; 
        left: 70%;
        transform: translate(-50%, -50%); 
        max-width: 100%;
        height: 80%;
        
    }

}
