.borderButton {
    display: flex;
    width: fit-content;
    height: 76px;
    padding: 24px 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    color: #4A205A;
    background-color: transparent;
    border: 2px solid #4A205A;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
}

button:hover {
    background-color: white;
    color: #8600A5;
    border: 3px solid #8600A5;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .borderButton {
        font-size: 16px;
        height: 60px;
    }
}