.signup-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 245px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px 0px 0px 100px;
  background: linear-gradient(180deg, #ffece4 0%, rgba(255, 236, 228, 0) 100%);
  top: 220px;
  grid-column: 1 / 5;
}

h1.signup-text {
  color: #543855;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-left: 20px;
}

.signup-btn {
  display: flex;
  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}
