.howto-wrapper {
    background-color: var(--color-blue-opacity-60);
    padding: 10px;
    text-align: center; 
    height: 250px;
    display: flex;
   flex-direction: column;
   align-items: center;
   
}

.howto-wrapper h1 {
    font-size: 1.2rem;
    margin: 0;
    padding: 20px;
    margin-bottom: 10px;
}

.images-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
   gap: 10px;
   height: 150px;
   max-width: 580px;
}

.tall-image {
   margin-top: -8px;
}

.image-container img {
    width: 100%; 
    height: 100px;
    display: block; 
   object-fit: cover;
   object-position: center;
   border-radius: 20px;
}

.image-container p {
    font-weight: bold;
}

