.howto-wrapper {
    background-color: var(--color-blue-opacity-60);
    padding: 10px;
    text-align: center; 
    height: 250px;
}

.howto-wrapper h1 {
    font-size: 1.2rem;
    margin: 0;
    padding: 20px;
    margin-bottom: 10px;
}

.images-wrapper {
    display: flex;
    justify-content: space-between;
   gap: 10px;
   height: 150px;
}

.image-container {
   
    flex: 1; /* Distributes the space equally between the image containers */
    
}

.image-container img {
    width: 100%; /* Makes the image take the full width of its container */
    height: 120px;
    display: block; /* Removes any default margins/paddings from the image */
   object-fit: cover;
   object-position: center;
   border-radius: 20px;
}

.image-container p {
    font-weight: bold;
}

