#section1 {
    background-color: var(--marine);
    text-align: center;
}

#section1 .image-wrapper {
    padding: .5rem .5rem 0 .5rem;
    background-color: var(--marine);
}

#section1 .image-wrapper img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    object-position: 0 -5rem;
}

.what-if-title {
    margin-bottom: 2rem;
}