.playparkour-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 20px; 
    padding-left: 40px;
    padding-right: 20px;
   height: 250px;
   width: auto;
}

.playparkour-wrapper::before {
    content: ""; 
    background-image: url('/images/image1.png');

    background-size: cover; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6; 
    z-index: -1;
}


.playparkour-wrapper h1 {
    color: var(--color-purple);
    margin-bottom: 10px; 
    font-size: 1.2rem;
   
}

.playparkour-wrapper p {
    width: 50%;
    color: var(--color-purple);
    font-size: 16px;
    
}

.playParkourButton {
    padding: 10px 20px;
    background-color: var(--color-yellow);
    border: none;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--color-purple);

}
/* Media query for screens between 600px and 900px */
  
@media (min-width: 601px) and (max-width: 900px) {
.playparkour-wrapper {
    height: 380px;
}    

.playparkour-wrapper h1 {
    font-size: 35px;
}

.playparkour-wrapper p {
    font-size: 21px;
    width: 63%;
}

.playParkourButton {
font-size: 20px;
}
}

/* Media query for screens between 600px and 900px */

@media (min-width: 601px) and (max-width: 900px) {
    
}

/* Media query for screens between 900px and 1200px */

@media (min-width: 901px) and (max-width: 1200px) {
   
}

/* Media query for screens above 1200px */

@media (min-width: 1201px) {
   

}
