.playparkour-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 20px; /* Adjust as needed */
    padding-bottom: 100px;
}

.playparkour-wrapper::before {
    content: ""; 
    background-image: url('../../../public/images/image1.png');
    background-position: center center; /* Center the image within the element */
    background-size: cover; /* Cover the area without stretching the image */
    position: absolute;
    min-height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6; 
    z-index: -1;
}


h2 {
    color: var(--color-purple);
    margin-bottom: 10px; 
    font-weight: bold;
    font-size: 1rem;
}

p {
    color: var(--color-purple);
    font-size: 0.7rem;
}

.playParkourButton {
    padding: 10px 20px;
    background-color: var(--color-yellow);
    border: none;
    font-size: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--color-purple);

    &:hover {
        background-color: darken(var(--yellow), 10%);
    }
}