@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.hero {
  min-height: 680px;
  width: 100%;
  position: relative;
  background: radial-gradient(220.53% 278.26% at 50% 0%, #2a3439 0%, rgba(42, 52, 57, 0.64) 100%);
  z-index: -1;

  @include lg {
    padding-bottom: 32px;
  }

  &_img {
    margin: 0 auto;
    height: 680px;
    padding: 24px;
    background-image: url("/photos/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include md {
      justify-content: center;
      padding-bottom: 30px;
    }

    @media (min-width: 800px) {
      height: 860px;
    }

    @include lg {
      height: 924px;
      width: 924px;
      border-bottom-left-radius: $border-radius-md;
      border-bottom-right-radius: $border-radius-md;
      position: relative;
      $border: 2px;
      background-clip: padding-box; /* !importanté */
      border: solid $border transparent; /* !importanté */

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(to top, $color-green, transparent);
        @include full-screen-fixed;
      }
    }

    @include lg {
      display: flex;
      align-items: center;
    }
  }

  &_text {
    position: absolute;
    width: 242px;
    bottom: 24px;
    left: 24px;

    @include md {
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include lg {
      position: unset;
      width: fit-content;
      margin: 0 auto;
      transform: translateX(0);
      margin-top: 32px;
    }
  }
}
