@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.hero {
  height: 680px;
  padding: 24px;
  display: flex;
  align-items: end;
  background-image: url("/photos/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include md {
    justify-content: center;
    padding-bottom: 30px;
  }
  &_text {
    width: 242px;
  }
}
