.bm-menu {
    background-color: rgba(255, 255, 255, 0.9);
    /* height: 60vh; <- with this it dublicates, even tho this is the height I want */
    position: fixed;
    transition: top 0.3s;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 30px;
    z-index: 1001;
}


.menu-button {
    position: fixed;
    top: 10px;
    right: 10px;
    margin-left: -100px;
    z-index: 1002;
}



.bm-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 1000;
}


.menu-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -100px;
    margin-top: 0px;
}

.menu-item {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    color: #000;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}