.plans {
    width: 90%;
    margin-left: 80px;
    margin-top: 100px;
}

.plans-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 6px;
}

.plans h1 {
    color: #3C3C3C;
    text-align: center;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}

.plans h3 {
    color: #000;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.plans p {
    color: #000;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.plans-links {
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.plans a {
    color: #000;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

.plans a:hover {
    text-decoration: underline;
}

.plans a.active {
    text-decoration: underline;
    /* Style for the active link */
}

.plans .small-img {
    width: 24px;
    height: 24px;
    padding: 12px;
}

.plans img {
    border-radius: 20px;
    width: 292px;
    margin: 0;
    padding: 0;
}

.plans-images-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.plans-images {
    display: flex;
    gap: 32px;
}

.plans-item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.heart-icon {
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}

/* Mobile */
@media (max-width: 393px) {
    .plans {
        width: 100%;
        margin-left: 0;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .plans-top {
        padding: 10px;
    }

    .plans h1 {
        font-size: 24px;
    }

    .plans h3,
    .plans p {
        font-size: 16px;
    }

    .plans-links {
        gap: 23px;
        padding: 10px;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .plans a {
        font-size: 18px;
        padding: 5px;
    }

    .plans .small-img {
        padding: 3px;
    }

    .plans img {
        width: 135px;
        border-radius: 10px;
    }

    .plans-images-container {
        overflow-x: auto;
    }

    .plans-images {
        gap: 10px;
    }

    .plans-item {
        position: relative;
    }

    .heart-icon {
        width: 12px;
        height: 12px;
        top: 5px;
        right: 5px;
    }
}