.footerContainer {
  background-color: #fef8ea;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  max-height: 180px;
}

.footerCol {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: justify;
}

.footerLogo,
.footerNavs,
.footerSocials {
  padding-left: 3em;
  padding-right: 3em;
}

.footerLogo {
  border-bottom: 1px solid #c9694d;
}

.footerNavs {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Montserrat", sans-serif;
}

.footerNavs a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.footerNav:hover {
  color: #c9694d;
}

.footerSocials {
  display: inline-block;
}

.langDropDown {
  position: relative;
  display: inline-block;
}

.langDropDownToggle {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.langDropdownMenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 100px;
}

.langDropDown:hover .langDropdownMenu {
  color: #c9694d;
  display: block;
}

.langDropdownMenu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
}

.langDropdownMenu a:hover {
  background-color: #f0f0f0;
}
