.mainContainer {
    background-image: url('../../assets/aboutUs.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    height: 75em;
    background-position: right top;
    display: flex;
    align-items: flex-end;
    margin-left: 10em;
}

.mainContainer img {
    position: absolute;
    top: 4em;
    left: 4em;
    width: 350px;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 755px;
    height: 48px;
    position: absolute;
    top: 4em;
    right: 4em;
    background-color: white;
    border-radius: 50px;
}

.navBar p {
    font-size: 18px;
    font-weight: 400;
    color: #4A205A;
}

.navBar p:hover {
    font-weight: 600;
    cursor: pointer;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 38px;
    padding: 10px;
    max-width: 55%;
    margin-bottom: 5em;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 667px) {
    .mainContainer {
        height: 75em;
        background-size: 80%;
        align-items: flex-end;
        max-width: 100%;
        margin-left: 0em;
    }

    .mainContainer img {
        top: 1em;
        left: 1em;
        width: 212px;
    }

    .infoContainer {
        max-width: 100%;
    }

    .openingHours {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 2em;
    }

    .navBar {
        display: none;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .mainContainer {
        height: 72em;
        background-size: 65%;
        align-items: flex-end;
        max-width: 100%;
        padding: 0em 0em 2em 1em;
        margin-left: 0em;
    }

    .mainContainer img {
        top: 1em;
        left: 1em;
        width: 212px;
    }

    .h1Container {
        max-width: 55%;
    }

    .infoContainer {
        max-width: 80%;
    }

    .navBar {
        display: none;
    }
}