.background {
    background-color: #FFF;
    height: fit-content;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "H2"
        "H2slim"
        "AllInclusive"
        "MemberYoga"
    ;
    text-align: center;
    gap: 20px;
}


.gridItem1 {
    grid-area: H2;
    padding: 50px 41px 0 41px;
}

.gridItem2 {
    grid-area: H2slim;
    padding: 15px 41px 0 41px;

}

.membershipBoxInclusive {
    grid-area: AllInclusive;
    background-color: rgba(187, 165, 197, 0.50);
    padding: 20px;
    margin: 20px 30px 0 30px;
}

.membershipBoxYoga {
    grid-area: MemberYoga;
    background-color: rgba(187, 165, 197, 0.50);
    padding: 20px;
    margin: 0 30px 50px 30px;
}

.img,
.boxInclusive3,
.boxYoga3,
.boxInclusive2,
.boxInclusive1,
.boxYoga2,
.boxYoga1 {
    padding-bottom: 19px;
}

@media (min-width: 767px) and (max-width: 1028px) {
    .wrapper {
        padding: 50px 157px 40px 157px;
    }
}

@media (min-width: 1028px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "H2 H2"
            "H2slim H2slim"
            "AllInclusive MemberYoga"
        ;
        padding: 80px 100px 60px 100px;
    }

    .membershipBoxInclusive {
        margin: 0;
        width: 530px;
    }

    .membershipBoxYoga {
        width: 530px;
        margin: 0;
    }
}