.mainContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.formInput {
    display: flex;
    flex-direction: column;
}

label {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 3px;
}

input, textarea {
    font-family: 'Montserrat';
    font-size: 18px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: none;
    border: 1px solid black;
    padding: 17px 18px 17px 18px;
}

textarea {
    height: 157px;
    resize: none;
}

@media screen and (max-width: 667px) {
}