/*The classnames are predtermined by the react-burger-library 
and can be found here: https: //www.npmjs.com/package/react-burger-menu. There is more
"hidden" styling that is visible by the inspecor tool in the browser. */


/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 0;
    top: 50px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
    left: 10px;
}

/* Color/shape of close button cross */
.bm-cross {
    /* background: #bdc3c7; */
    height: 38px;
    width: 38px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 50%;
    left: 25px;
}

/* General sidebar styles */
.bm-menu {
    background: rgba(28, 29, 35, 1);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    /* color: #b8b7ad; */
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;

}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.5)
}

/* ---- My own added classnames ----- */
.lang-wrapper {
    display: flex;
    flex-direction: row;
    gap: 14px;
    font-size: 14px;
    color: #ffffff;
}

.menu-item {
    color: #FFE03B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}