.background {
    background-color: #FFF;
    height: 657px;
    /*subtracted footer*/
}

.wrapper {
    padding: 50px 20px 40px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "FindUs"
        "LocationMap"
        "OurLocation"
        "ChooseLanguage";
    gap: 30px;
}

.findUsHeader {
    grid-area: FindUs;
    text-align: center;
}

.whereToFindUsText>div:not(:last-child) {
    margin-bottom: 20px;
}

.whereToFindUsText {
    grid-area: OurLocation;
}

.mapContainer {
    grid-area: LocationMap;
    position: relative;
    overflow: hidden;
    padding-bottom: 70%;
    height: 0;
}

.mapContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.translationBox {
    grid-area: ChooseLanguage;
    margin-bottom: 30px;
}

/* iPad Pro 11" */
@media (min-width: 768px) and (max-width: 1024px) {
    .background {
        height: fit-content;
    }

    .wrapper {
        padding: 50px 64px 40px 64px;
        gap: 30px;
    }

    .mapContainer {
        padding-bottom: 60%;
    }

    .translationBox {
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px) {

    .background {
        height: fit-content;
    }

    .wrapper {
        margin: 80px 96px 60px 96px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
            "FindUs"
            "LocationMap"
            "OurLocation"
            "ChooseLanguage";
        gap: 42px;
    }

    .mapContainer {
        max-height: 50px;
        grid-area: LocationMap;
        position: relative;
        overflow: hidden;
        /* No idea why only this works*/
        padding-bottom: calc(539 / 1440 * 100vw);
        height: 0;
        max-width: auto;
    }

    .whereToFindUsText>div:not(:last-child) {
        margin-bottom: 42px;
    }

    .translationBox {
        margin-bottom: 42px;
    }
}