.eventsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 32px;
}

.eventsCard img {
  width: 100%;
}

.eventsCard {
  padding: 3em;
}

.eventsImage {
  position: relative;
  overflow: hidden;
  float: left;
}

.eventsImage img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.eventsImage:hover img {
  transform: scale(1.25);
  transition: 0.5s ease;
}

/* media query for mobile */
@media (max-width: 667px) {
  .eventsContainer {
    grid-template-columns: 1fr;
  }
}

/*media query for tablet- 2 columns .*/
@media screen and (min-width: 668px) and (max-width: 1024px) {
  .eventsContainer {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }

  .eventsImage {
    position: relative;
    overflow: hidden;
    float: left;
  }

  .eventsImage img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .eventsImage:hover img {
    transform: scale(1.25);
    transition: 0.5s ease;
  }
}

/*media query for desktop - 3 columns */
@media (min-width: 1025px) {
  .eventsContainer {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

  .eventsImage {
    position: relative;
    overflow: hidden;
    float: left;
  }

  .eventsImage img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .eventsImage:hover img {
    transform: scale(1.25);
    transition: 0.5s ease;
  }

  .cardHeaders {
    font-size: 28px;
    margin-top: 10em;
  }

  .cardHeaders h2 {
    margin-top: 20px;
  }
}
