.founder-section{
    display: flex;
    justify-content: center;
    padding: 3rem 1.5rem 2.5rem;
}

.founder-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap:1.25rem;
}

.founder-wrapper img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

@media (min-width: 600px) {
    .founder-wrapper {
        width: 33rem;
    }

    .founder-wrapper img {
        width: 100%;
        height: 80%;
    }
}

@media (min-width: 1020px) {
    .founder-wrapper {
        width: 37rem;
    }
}