.aboutUsContainer {
    display: flex;
    background-color: var(--color-blue-opacity-60);
    padding: 20px;
}

.leftColumn {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rightColumn {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftColumn h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: var(--color-purple);
}

.leftColumn p {
    color: black !important;
    font-size: 12px;
}

.yellowButton {
    padding: 10px 20px;
    background-color: var(--color-yellow);
    border: none;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--color-purple);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(var(--yellow), 10%);
    }
}

.roundImage {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

 
  
  /* Media query for screens between 600px and 900px */
  
  @media (min-width: 601px) and (max-width: 900px) {
    
    .leftColumn h1 {
        font-size: 25px;
    }

    .leftColumn p {
        font-size: 18px;
    }
    .yellowButton {
       font-size: 16px;
       padding: 20px;
       border-radius: 40px;
       padding-left: 50px;
       padding-right: 60px
    }
    .roundImage {
        height: 200px;
        width: 210px;
        border-radius: 80px;
    }
 }
  
  /* Media query for screens between 900px and 1200px */
  
  @media (min-width: 901px) and (max-width: 1200px) {
     
  }
  
  /* Media query for screens above 1200px */
  
  @media (min-width: 1201px) {
     
  
  }