.pakages-section {
    color: #ffffff;
}

.pakages-wrapper {
    display: flex;
        flex-direction: row;
        overflow: auto;
        white-space: nowrap;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100%;
        gap: 19px;
}

.pakages-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pakage-img-container {
    display: flex;
    justify-content: center;
    align-items: end;
    text-wrap: nowrap;
   
}

.pakage-img-container p {
    position: absolute;
        margin-bottom: 5%;
}

.pakages-wrapper img {
    width: 324px;
    height: 441px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;  
         
}
