div.welcome-container {
  display: flex;
  width: 364px;
  height: 333px;
  padding: 36px 0px 38px 22px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 17px;
  top: 471px;
  flex-shrink: 0;
  border-radius: 0px 44px 44px 44px;
  background: linear-gradient(
    180deg,
    #ffece4 13.21%,
    rgba(255, 236, 228, 0) 100%
  );
}

h2.welcome-title {
  color: #543855;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 133.333% */
  align-self: stretch;
}

h3.welcome-text {
  color: #543855;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
  align-self: stretch;
}
