.ourTeachers-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--greyish);
  padding: 64px 0;
}

.teacher-title-and-info {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 36px;
}

.teacher-title-and-info p {
  padding: 0 16px;
}

.meetTeachersBtn {
  margin-bottom: 30px;
}

.double-yoga {
  max-width: 340px;
  max-height: 340px;
  align-self: center;
  margin-bottom: -90px;
  overflow: hidden;
}

.teachers-wave-mini {
  position: absolute;
  z-index: 2;
  bottom: -30px;
  width: 100vw;
}

.teachers-wave-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .ourTeachers-container {
    padding: 100px 0;
  }

  .teacher-title-and-info p {
    padding: 0 64px;
  }

  .meetTeachersBtn {
    margin-bottom: 30px;
  }

  .double-yoga {
    min-width: 576px;
    min-height: 576px;
    overflow: hidden;
    margin: 0 129px -110px 129px;
  }

  .teachers-wave-tablet {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: -30px;
    width: 100vw;
  }

  .teachers-wave-mini {
    display: none;
  }
}
