.videos-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin: 22px;
}

.video-img {
    height: 165px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--card-border-radius);
    z-index: 1;
}

#time {
    position: relative;
    border-radius: 8px;
    padding: 3px 5px;
    background: rgba(237, 237, 235, 0.80);
    top: -28px;
    left: 7px;
    font-weight: 300;
    z-index: 2;
}

#name {
    font-size: 14px;
    font-weight: 500;
}

#type {
    font-size: 14px;
    font-weight: 300;
}

@media (min-width: 834px) and (max-width: 1511px) {
    .videos-section {
        gap: 22px;
        margin: 32px;
    }

    .video-img {
        height: 200px;
    }

    #name {
        font-size: 16px;
    }
    
    #type {
        font-size: 16px;
    }

}

@media (min-width: 1512px) {
    .videos-section {
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;
        margin: 0 111px 111px 111px;
    }

    .video-img {
        height: 225px;
        width: 100%;
    }

    #name {
        font-size: 16px;
    }
    
    #type {
        font-size: 16px;
    }
}