.eventsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow-x: hidden;
  max-height: fit-content;
  max-width: 100%;
}

.eventsBox {
  text-align: center;
  margin-top: 0;
}

.eventsContainer h2 {
  font-size: 40px;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 1em;
}

.eventsContainer p {
  font-size: 18px;
  padding: 0 0.6em 0 0.6em;
}

.pBold {
  font-weight: 600;
}

.eventsBox img {
  object-fit: cover;
  width: 100%;
}

.eventsButton {
  background-color: #ffecea;
  color: #202020;
  border-radius: 30px;
  padding: 8px 115px 8px 115px;
  text-align: center;
  margin-bottom: 1em;
  font-family: "Poppins", sans-serif;
}

/*media query for tablet - 1 row */
@media (min-width: 668px) and (max-width: 1024px) {
  .eventsButton {
    background-color: #ffecea;
    color: #202020;
    border-radius: 30px;
    padding: 11px 50px 11px 50px;
    text-align: center;
    margin: 1rem;
    font-family: "Poppins", sans-serif;
    display: inline-block;
  }

  .eventsBox {
    text-align: center;
    margin-top: 0;
    padding: 3em;
  }
}

/*media query for desktop - 2 rows */
@media (min-width: 1025px) {
}
