.trial_btn_text {
    padding: 12px 24px;
}

.trial-btn {
    height: 44px;
    border-radius: 20px;
    border: 2px solid #71A59C;
    background: #FFF;
    display: flex;
    align-items: center;
}
