.contactSection {
    background-color: #612E77;
    display: flex;
    flex-direction: column;
    padding: 48px 24px 40px;
    align-items: center;
    gap: 20px;
}

.heading {
    color: #fff;
}

form {
    background-color: #BBA5C5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 2px 0 #1D1C25;

}

.labelText {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 7px;
    border: solid 1px #FFD075;
    border-radius: 5px;
    background-color: #BBA5C5;
    font-size: 17px;
    /* font-family: "Readex", sans-serif; */
}

.input:focus {
    border-color: #612E77;
    outline: #612E77;
    background-color: #BBA5C5;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #FFD075;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.checkbox:checked {
    border-color: #612E77;
    background-color: #FFD075;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #612E77;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.submitBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* iPad Pro 11 */
@media (min-width: 767px) and (max-width: 1028px) {
    .contactSection {
        max-width: 700px;
    }
}

/* MacBook Air */
@media (min-width: 1028px) {
    .contactSection {
        padding: 48px 64px 40px;
    }

}