.text-section {
    background: var(--brown);
}

.article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
    padding: 31px 37px;
    text-align: center;
}

.subheader-text {
    color: var(--primary-white);
    font-weight: 300;
    font-size: var(--h3-font-size);
}

.article-section {
    padding: 57.5px 37px;
}

@media (min-width: 834px) and (max-width: 1511px) {
    .article-section {
        padding: 83px 32px;
    }

    .subheader-text {
        font-size: var(--h3-font-size-tablet);
    }
}

@media (min-width: 1512px) {
    .article-section {
        padding: 149px 375.5px;
    }
    .subheader-text {
        font-size: var(--h3-font-size-tablet);
    }
}
