.hero-container {
  background-color: var(--marine);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

.hero-image {
  position: absolute;
  background-image: url(./image-6.png);
  background-color: var(--marine);
  background-size: 150%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.satnam-btn-wrapper {
  display: flex;
  justify-content: center;
}
