.swiper-box {
  margin-top: 70px;
  height: 262px;
  margin-bottom: 30px;
}
.textbox {
  word-wrap: break-word;
}

.swiper-pagination .swiper-pagination-bullet-active {
  border-radius: 0;
  color: #ff5344;
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -10px);
  top: var(--swiper-pagination-top, auto);
  margin-bottom: 25px;
}

.swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  color: #ff5344;
  margin-top: 20px;
}

/* .SwiperSlide {
  width: 398px;
} */
