@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.text_box {
  margin: 0 auto;
  width: 280px;

  @include md {
    width: 300px;
  }

  @include lg {
    width: 430px;
  }
}

.text_wrapper {
  padding-bottom: 43px;

  @include md {
    padding-bottom: 69px;
  }
  @include lg {
    width: 80vw;
    border-bottom: 1px solid $color-green-light;
    padding-bottom: 69px;
  }
}

.address_box {
  display: flex;
  gap: $gap-lg;
  @include lg {
    padding-top: 69px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  @include lg {
    border-top: 1px solid $color-green-light;
    width: 80vw;
    padding-top: 69px;
  }
}
