@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,600;0,700;1,100;1,300;1,600;1,700&family=Electrolize&family=Inter:wght@300;400;500;600;700&family=Montserrat+Subrayada:wght@400;700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: "Neuton", "Verdana", "sans-serif";
}

.app {
  min-width: 100vw;
  min-height: 100vh;
}
