$color-dark: #2a3439;
$color-green-light: #d2fdff;
$color-green: #26ffe6;

$font-display: "Montserrat Subrayada";
$font-body: "Electrolize";
$font-normal: "Inter";
$font-text: "Neuton";

$font-sm: 14px;
$font-md: 20px;
$font-lg: 26px;
$font-xlg: 32px;
$font-xxlg: 40px;

$weight-bold: 700;

$padding-sm: 16px;
$padding-lg: 32px;

$border-radius-md: 20px;
$border-radius-lg: 40px;
$border-radius-xsm: 8px;

$gap-lg: 64px;
$gap-xsm: 12px;
$gap-sm: 16px;
$gap-md: 24px;

$margin-center: 0 auto;
