.last-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #004174;
  color: #f3f1ed;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.last-pic {
  margin: 25px;
  width: 90%;
  height: 60%;
  object-fit: cover;
}

.last-section-wrapper h2 {
  font-family: Prompt;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  line-height: 108.2%;
  margin: 25px;
}

.info-text {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 25px;
  color: var(--background-color);
}
.welcome-text {
  color: var(--background-color);
}

.welcome-text {
  font-family: Montserrat;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin-left: 25px;
  margin-right: 25px;
}

.last-button img {
  height: 43px;
}
.last-button {
  display: flex;
  justify-content: flex-start;
  margin: 25px;
  margin-bottom: 40px;
}

@media (min-width: 744px) {
  .text-and-button-container {
    width: 90%;
    padding: 20px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .last-section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    margin-bottom: 50px;
  }

  .text-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .last-pic {
    margin: 25px;
    width: 50%;
    height: 80%;
  }
}
