.card-section-header-texts {
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.a-style-btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (min-width: 834px) and (max-width: 1511px) {
    .a-style-btn {
        justify-content: flex-end;
    }
}

@media (min-width: 1512px) {
    .a-style-btn {
        justify-content: flex-end;
    }

    .card-section-header-texts {
        padding: 71px 111px 22px 111px;
    }
}