.btn-style, a-style {
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

/* Styling for each of the different button types */
.thick {
    padding: 14px 26px;
}

.thin {
    padding: 5px 20px;
}

.brown {
    background-color: var(--brown);
    color: var(--primary-white);
}
  
.brown:hover {
    background-color: var(--dark-beige);
    color: var(--primary-white);
}

.green {
    background-color: var(--dark-green);
    color: var(--primary-white);
}
  
.green:hover {
    background-color: var(--brown);
    color: var(--primary-white);
}

.grey {
    background-color: var(--light-beige);
    color: var(--primary-black);
}
  
.grey:hover {
    background-color: var(--dark-beige);
    color: var(--primary-white);
}

.brown-to-green {
    background-color: var(--brown);
    color: var(--primary-white);
}

.brown-to-green:hover {
    background-color: var(--light-green);
    color: var(--primary-white);
}

.green-outlined {
    background-color: var(--darg-green);
    color: var(--primary-white);
    border: 1px solid var(--dark-green);
}

.green-outlined:hover {
    background-color: var(--primary-white);
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

.a-style {
    display: flex;
    align-items: center;
}

.a-style:hover {
    font-weight: 700;
}