.about-us-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  background-color: var(--offwhite);
}

.about-us-content-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0 16px;
}

.about-us-wave-mini {
  position: absolute;
  bottom: -50px;
  z-index: 3;
}

.about-us-wave-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-us-container {
    padding: 100px 0;
  }

  .about-us-content-container {
    gap: 36px;
    padding: 0 64px;
  }

  .about-us-wave-tablet {
    display: flex;
    position: absolute;
    bottom: -65px;
    z-index: 3;
    max-width: 100%;
  }

  .about-us-wave-mini {
    display: none;
  }
}
