@use "../../../styles/mixins.scss" as *;
.wrapper {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.3s;

  div {
    opacity: 0;
    transition: all 0.4s ease;

    @include lg {
      transition: none;
    }
  }

  img {
    @include lg {
      transition: all 0.4s ease;
    }
  }
}

.visible {
  transform: translateY(0px);
  opacity: 1;

  div {
    transition-delay: 0.3s;
    opacity: 1;
  }
}
