.swiper {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 70px;
}

.swiper-wrapper {
  gap: 20px;
}

.swiper-slide img {
  width: 147.543px;
  height: 219.398px;
}

.swiper-textbox {
  margin-bottom: 70px;
  margin-left: 25px;
  margin-right: 25px;
}

.swiper-textbox p {
  color: var(--FF-Blue, #004174);
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 160%;
}
