@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.button {
  background-color: $color-green;
  padding: 7px 30px;
  border-radius: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    font-family: $font-display;
    font-size: 16px;
    font-weight: $weight-bold;
    color: $color-dark;
    text-transform: capitalize;

    @include lg {
      font-size: $font-xlg;
    }
  }
}
