.client-quote-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-client-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.client-quote {
    display: flex;
    height: 100%;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px 50px 0px 50px;
}

.aboutclient1 {
    background: #471007;
}

.aboutclient2 {
    background: #713003;
}

.aboutclient3 {
    background: #634F01;
}

.client-quote .text-right {
    text-align: right;
}

/* Tablet */
@media (min-width: 667px) and (max-width: 1024px) {
    .about-client-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }

    .client-quote {
        height: 184px;
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: space-between;
    }
}


/* Desktop */
@media (min-width: 1025px) {
    .about-client-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        gap: 16px;
    }

    .quote-wrapper {
        width: 100%;
        grid-column: span 4;
    }

    .client-quote {
        height: 100%;
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: space-between;
    }


}