.mainContainer {
    background-color: #4A205A;
    display: flex;
    justify-content: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 24px;
    color: white;
}

img:hover {
    transform: scaleX(1.25) scaleY(1.25);
    transition: ease 0.5s;

}

@media screen and (max-width: 667px) {
    p {
        font-size: 20px;
    }

    .contentWrapper {
        max-width: 70%;
    }
}