.our-vision-section {
   margin: 0;
   padding: 0;
    width: 100%;
    background: #1A1E22;
    display: flex;
    flex-direction: row;
}

.our-vision-text-wrapper {
    text-align: center;
    margin: 20px;
}

.our-vision-text-wrapper h1 {
    color: #FFE03B;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.our-vision-text-wrapper p {
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.77px;
}

.dart-vader-img {
    width: 100%;
}

/*----- Media qury -----*/

@media (min-width: 668px) {
    .our-vision-text-wrapper h1 {
        font-size: 30px;
    }
    .our-vision-text-wrapper p{
        font-size: 20px;
    }

    .our-vision-text-wrapper {
        position: absolute;
        width: 400px;
        right: 0;
    }

    .our-vision-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}