.contact-page-wrapper {
    background-color: #374F4B;
    height: 100vh;
}

.contact-content {
    margin: 0 24px;
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.form-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.contact-info-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 21px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}