.heroContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 2em 6rem 2em;
  margin-top: 3rem;
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
}

.heroBox {
  align-content: left;
  margin-left: 5em;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 40px;
}

/*media query for tablet - 1 row */
@media (min-width: 668px) and (max-width: 1024px) {
  .heroContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3em 2em 6rem 2em;
    margin-top: 3rem;
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
  }

  .heroBox {
    align-content: left;
    margin-left: 5em;
    height: 100vh;
    width: 100vw;
  }
}

/*media query for desktop - 2 rows */
@media (min-width: 1025px) {
  .heroContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3em 2em 6rem 2em;
    margin-top: 3rem;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
  }

  .heroBox {
    align-content: left;
    margin-left: 5em;
    width: 100vw;
  }

  h1 {
    font-size: 40px;
  }
}
