.heroContainer {
  display: grid;
  box-sizing: border-box;
  align-items: center;
}

.heroBox {
  max-width: 100%;
}

.heroBox h1 {
  text-align: center;
  padding: 0;
}

.heroBox p {
  text-align: left;
  padding-left: 0.8em;
  padding-right: 0.5em;
}

.heroBox img {
  object-fit: contain;
  width: 100%;
}

.heroButton {
  align-items: center;
  align-content: center;
  background-color: #ffecea;
  color: #202020;
  border-radius: 30px;
  margin: 10px;
  padding: 8px 115px 8px 115px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

.h1Bold {
  font-weight: 600;
}

/*media query for tablet - 1 row */
@media (min-width: 668px) and (max-width: 1024px) {
  .heroContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3em 2em 6rem 2em;
    margin-top: 3rem;
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
  }

  .heroBox {
    margin-left: 0;
  }
}

/*media query for desktop - 2 rows */
@media (min-width: 1025px) {
  .heroContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3em 2em 6rem 2em;
    margin-top: 3rem;
    text-align: center;
  }

  .heroBox {
    align-content: left;
    box-sizing: border-box;
    padding: 20px;
  }
}
