body {
  background-color: #2c1e63;
  max-height: 1134px;
}

h1 {
  color: #fef8ea;
  font-family: Abhaya;
  font-size: 70px;
}

.heroContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.heroLeft {
  align-content: left;
  padding-left: 2em;
}

.heroRight {
  align-content: left;
}
