.whyplay-wrapper {
    background-color: var(--color-green-opacity-60);
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.whyplay-wrapper h1 {
    color: var(--color-purple);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
}
.icons-wrapper {
    width: 100%; 
    height: auto;    /* Adjust this if necessary */
    margin: 0 auto;   /* Centers the carousel if it's narrower than its parent */
}


  /* Media query for screens between 600px and 900px */
  
  @media (min-width: 601px) and (max-width: 900px) {
    .whyplay-wrapper h1 {
        font-size: 25px;
    }  
  }
  
  /* Media query for screens between 900px and 1200px */
  
  @media (min-width: 901px) and (max-width: 1200px) {
     
  }
  
  /* Media query for screens above 1200px */
  
  @media (min-width: 1201px) {
     
  
  }