.classesHeader {
  font-weight: 700;
  text-align: center;
  color: #fef8ea;
}

.classesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #9eb1a8;
  color: black;
  overflow: auto;
  max-height: fit-content;
}

.classesBox {
  margin-bottom: 4em;
  color: black;
  text-align: center;
  margin-top: 0;
  font-weight: 700;
  color: black;
}

.classesBox img {
  max-width: 80%;
  padding: 1em;
}

.subHeading {
  color: black;
}

.subHeading:hover {
  background-color: #fef8ea;
  opacity: 0.5;
  border-radius: 20px;
  padding: 0.3em;
}
