.bodyContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow: auto;
  max-height: fit-content;
}

.bodyBox {
  text-align: center;
  margin-top: 0;
}

.bodyContainer p {
  font-size: 26px;
  padding: 0 0.6em 0 0.6em;
}

.pBold {
  font-weight: 600;
}

.bodyBox img {
  object-fit: cover;
  width: 100%;
}

.bodyButton {
  background-color: #ffecea;
  color: #202020;
  border-radius: 30px;
  padding: 11px 130px 11px 130px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10em;
  font-family: "Poppins", sans-serif;
}

.imgMobile {
  display: block;
}

.imgDesktop {
  display: none;
}

/*media query for tablet - 1 row */
@media (min-width: 668px) and (max-width: 1024px) {
  .imgMobile {
    display: none;
  }

  .imgDesktop {
    display: block;
  }
}

/*media query for desktop - 2 rows */
@media (min-width: 1025px) {
  .imgMobile {
    display: none;
  }

  .imgDesktop {
    display: block;
  }
}
