.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 24px 27px 24px;
  background-color: var(--primary-white);
  /* Makes sure the HeaderContainer always sticks to the top */
  position: sticky;
  top: 0;
  /* Makes sure the HeaderContainer is always on top of other elements */
  z-index: 1;
  /* Makes sure the HeaderContainer is always on top of other elements */
}

p.logo {
  font-family: var(--logo-font);
  font-size: 1.375rem;
}

/* Custom CSS to style the menu icon */
.bm-menu {
  color: var(--primary-black); /* Change to your desired color */
  font-size: 24px; /* Change to your desired font size */
  /* Add any other CSS styles you want */
  z-index: 3; /* Ensure the menu is above the rest of the content */
  transform: translateY(0); /* Adjust this property based on your desired opening animation */
}

.custom-icon {
  z-index: 2; /* Ensure the icon is below the menu */
}

.burger-bars {
  max-width: 35px;
}



@media (min-width: 834px) {
p.logo  {
  font-size: 2.5rem;
}
}