.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green-opacity-70);
  padding: 20px;
  border-bottom: 3px solid var(--color-purple); 
}  

.logo {
  height: 35px;
}

.header-icons-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.header-icon {
  height: 24px; 
  padding-right: 20px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%; /* positions it below the icon*/
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 4px;
}
  
.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}
  
.dropdown-menu a:last-child,
.dropdown-menu button:last-child {
  border-bottom: none;
}
  
.header-links {
  display: none;
  }  

.play-parkour-link {
  cursor: pointer;
  position: relative;
}
  
.down-arrow-icon {
  width: 20px; 
  margin-bottom: -5px;
  margin-left: -5px;
}
  
.parkour-dropdown {
  position: absolute;
  display: none;
}
  
.parkour-dropdown a {
  display: block;
}

  /* Show the dropdown when hovering over the link */
.play-parkour-link:hover .parkour-dropdown {
  display: block; 
}

.language-dropdown {
  position: relative;
  cursor: pointer;
}

.language-dropdown span {
  display: block;
}

.language-options {
  display: none;
  position: absolute;
}

.language-dropdown:hover .language-options {
  display: block;
}


/* Media query for screens between 900px and 1200px */

@media (min-width: 901px)  {
.header-wrapper {
  padding-top: 5px;
  padding-left: 70px;
  padding-bottom: 5px;
  }
.logo {
  height: 130px;
  }
.header-links {
  display: flex; 
  align-items: center; 
  gap: 30px;
  margin-top: 50px;
  font-size: 14px;
}

.header-links a {
  color: black;
}

.header-icon { /* Hide the hamburger icon on larger screens */
  display: none;
}

.join-us-button {
  font-size: 12px;
  background-color: var(--color-yellow);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
}