.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green-opacity-60);
    padding: 20px;
    border-bottom: 3px solid var(--color-purple); 
}  

.logo {
height: 35px;
}

.header-icons-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.header-icon {
    height: 24px; 
    padding-right: 20px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%; /* positions it below the icon*/
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 4px;
  }
  
  .dropdown-menu a,
  .dropdown-menu button {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-menu button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-menu a:last-child,
  .dropdown-menu button:last-child {
    border-bottom: none;
  }
  