
.header-content-wrapper {
    background-color: rgba(28, 29, 35, 1);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 35px;
    z-index: 1000; /*Set a high z-index value to ensure the header is above other content */
    
}

.galactic-logo {
    width: 195px;
    height: 41px;
    
}

.dart-vader-icon {
    height: 26px;
    width: 26px;  
}

.burgermenu-container {
width: fit-content;
}


/*--- Burgermenu styling ------ */


/*------- Media query --------*/

@media (min-width: 667px) {
    .header-content-wrapper {
        height: 135px;

    }

    .galactic-logo {
        width: 378px;
        height: 58px;
       
    }

    .dart-vader-icon {
        height: 80px;
        width: 80px;
    }
}


@media (min-width: 1025px) {
.header-content-wrapper {
        top: 0;
}
}