* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.imgsWrapper {
    display: flex;
    position: static;
    flex-direction: row;
    z-index: 10;
    color: #fff;
    margin-top: 10px;
    width: fit-content;
    background-color: transparent;
    margin-left: 20px;
}


.logoText {
    position: absolute;
    bottom: 0;
    margin: 0 40px;
    width: 193px;
    height: 38px;
    flex-shrink: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 0 1rem;
    height: fit-content;
}

.navBlackSvgBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 1;
    margin-top: 40px;
}

.navLink:first-of-type {
    margin-top: 30px;
}



.navSvgBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: auto;
    z-index: 0;
}


.logo {
    cursor: pointer;
    width: 50px;
    height: 65px;
    flex-shrink: 0;
    z-index: 1;
}

.menuIcon {
    cursor: pointer;
    display: block;
    z-index: 1;
    padding: 30px 10px 0 0;
}

.searchIcon {
    z-index: 1;
    position: relative;
    height: 28px;
    width: 28px;
    margin: 0 10px 0 0;
}

.searchWrapper {
    position: absolute;
    right: 12vw;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 17px;
    z-index: 1;
    width: 100%;
    outline: none;
    border: none;
    color: #FFD075;
    box-shadow: none;
    background-color: transparent;
    width: fit-content;
    display: flex;
    align-items: right;
}

.searchBar:focus {
    outline: none;
}

.searchBar {
    z-index: 1;
    position: relative;
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: none;
    padding: 5px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Nunito Sans', sans-serif;
}

.searchBar::placeholder {
    color: #FFD075;
    padding-left: 0.2rem;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 7px auto;
    background-color: #FFD075;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.navLinks.active {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.navLink {
    color: #FFD075;
    padding: 20px 0;
    display: block;
    background-color: transparent;
    z-index: 2;
    position: relative;
    font-family: 'Avenir Next', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 131%;
    letter-spacing: -0.44px;
    left: 65vw;
    width: 100px;
    bottom: 10px;
    transform: translateX(-50%);
}

/* .searchBar::placeholder {
    color: #FFD075;
    padding-left: 0.2rem;
} */

.navLink::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #FFD075;
    width: 70%;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.navLink:hover::after {
    background-color: transparent;
}

/* ipad mini */
@media (min-width: 767px) {
    .navBlackSvgBackground {
        position: absolute;
        transform: translateY(-25%);
        width: 110%;
        z-index: 1;
    }

    .searchWrapper {
        z-index: 1;
        right: 15vw;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        margin-top: 25px;
        outline: none;
        border: #FFD075 1px solid;
        border-radius: 5px;
        color: #FFD075;
        box-shadow: none;
        background-color: transparent;
        width: fit-content;
        display: block;
        display: flex;
        align-items: right;
    }

    .searchBar {
        z-index: 1;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border: none;
        display: block;
        width: 200px;
        margin: 5px;
    }

    .searchIcon {
        margin: 5px 10px 5px 0
    }

    .menuIcon {
        padding-top: 35px;
        padding-right: 35px;
        margin-top: 20px;
    }


    .navSvgBackground {
        position: absolute;
        top: 0vh;
        right: 0;
        width: 38%;
        height: auto;
        z-index: 0;
    }

    .bar {
        display: block;
        width: 41px;
        height: 2px;
        margin: 9px auto;
        background-color: #FFD075;
        transition: all 0.3s ease;
    }

    .logo {
        cursor: pointer;
        width: 70px;
        height: 75px;
        flex-shrink: 0;
        z-index: 1;
        padding: 10px 10px 0 0;
    }

    .navLink {
        top: 0vh;
        left: 88%;
        padding: 13px 0;
        line-height: 140%;
    }

    .navSvgBackground {
        position: absolute;
        top: 0vh;
        right: 0;
        width: 38%;
        height: auto;
        z-index: 0;
    }

}

/* iPad Pro 11" */
@media (min-width: 800px) and (max-width: 1328px) {
    .nav {
        display: flex;
    }

    .navBlackSvgBackground {
        position: absolute;
        transform: translateY(-35%);
        width: 110%;
        z-index: 1;

    }

    .menuIcon {
        padding-top: 35px;
        padding-right: 35px;
        margin-top: 20px;
    }

    .navLink {
        top: 4vh;
        left: 88%;
        padding: 16px 0;
        line-height: 140%;
        font-size: 25px;
    }



    .navSvgBackground {
        position: absolute;
        top: 0vh;
        right: 0;
        width: 38%;
        height: auto;
        z-index: 0;
    }

    .bar {
        display: block;
        width: 41px;
        height: 2px;
        margin: 9px auto;
        background-color: #FFD075;
        transition: all 0.3s ease;
    }

    .logo {
        margin-top: 13px;
        width: 85px;
        height: 85px;
    }

    .logoText {
        /* width: 230px; */
        height: 110px;
        margin: 0 60px 0 130px;
        bottom: -2vw;
    }

    .searchWrapper {
        z-index: 1;
        right: 15vw;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        margin-top: 25px;
        outline: none;
        border: #FFD075 1px solid;
        border-radius: 5px;
        color: #FFD075;
        box-shadow: none;
        background-color: transparent;
        width: fit-content;
        display: block;
        display: flex;
        align-items: right;
    }

    .searchBar {
        z-index: 1;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border: none;
        display: block;
        width: 200px;
        margin: 5px;
    }

    .searchIcon {
        margin: 5px 10px 5px 0
    }
}

@media (min-width: 1328px) {
    .navBlackSvgBackground {
        position: absolute;
        transform: translateY(-30%);
        width: 113%;
        z-index: 1;
    }

    .imgsWrapper {
        display: flex;
        position: static;
        flex-direction: row;
        z-index: 10;
        color: #fff;
        margin-top: 75px;
        width: fit-content;
        background-color: transparent;
        margin-left: 90px;
    }

    .logoText {
        position: absolute;
        bottom: 0;
        height: 110px;
        bottom: -2vw;
        margin: 0 60px 0 120px;
        width: 230px;
        z-index: 2;
    }

    .logo {
        cursor: pointer;
        width: 100px;
        height: 90px;
        flex-shrink: 0;
        z-index: 1;
    }

    .navLink:first-of-type {
        margin-top: 0;
        padding-top: 0;
    }


    .menuIcon {
        display: none;
        padding: 60px 10px 0 0;
        margin-top: 20px;
    }

    .navLinks {
        display: flex;
        position: static;
        flex-direction: row;
        z-index: 10;
        color: #fff;
        margin: 106px 90px 0 0;
        width: fit-content;
        background-color: transparent;
        bottom: 0;
    }

    .navLink {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: initial;
        left: initial;
        padding: 0 5px;
        margin: 0;
        width: fit-content;
        flex-basis: auto;
        border-bottom: none;
        transform: none;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 18px;
    }

    .navLink:last-of-type {
        padding: 0 18px;
        margin-right: 0;
    }

    .navLink:last-of-type::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #FFD075;
        width: 70%;
        position: absolute;
        bottom: 0;
        left: 20px;
        transform: translateX(-8%);

    }

    .navLink:hover {
        color: #c5a25c;
    }


    .navSvgBackground {
        display: none;
    }


    .navLink.dropdown {
        pointer-events: none;

    }

    /*first four lines*/
    .navLink:not(:last-of-type)::after {
        content: '';
        display: block;
        width: 1px;
        background-color: #FFD075;
        height: 20px;
        position: absolute;
        top: 45%;
        left: 100%;
        right: -1px;
        transform: translateY(-50%);
    }

    .searchWrapper {
        z-index: 1;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        width: 100%;
        outline: none;
        border: #FFD075 1px solid;
        border-radius: 5px;
        color: #FFD075;
        box-shadow: none;
        background-color: transparent;
        width: fit-content;
        z-index: 1;
        right: 7vw;
        top: 13vw;
    }

    .searchBar {
        z-index: 1;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border: none;
        display: block;
        width: 200px;
        margin: 10px;
    }

    .searchIcon {
        margin: 10px 10px 10px 0
    }
}