.navbar {
    position: fixed;
    /* Ensures navbar stays on top of other elements */
    z-index: 1000;
    width: 100%;
    background-color: #1C1D23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
}

.menu-toggle {
    color: #FFFFFF;
    font-size: 180%;
    cursor: pointer;
}

.navbar img {
    width: 45%;
}