.nameInput,
.emailInput,
.messageInput {
  display: flex;
  flex-direction: column;
}

form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 20px;
}

.terms-and-conditions {
  display: flex;
}
