.contact-us-container {
  padding: 50px 16px 50px 16px;
  background-color: var(--offwhite);
  position: relative;
}

.contact-us-info {
  text-align: center;
}

.nameInput,
.emailInput,
.messageInput {
  display: flex;
  flex-direction: column;
}

form {
  padding-top: 15px;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  font-family: var(--font-family-ingress-body);
  color: var(--dark);
}

form label {
  font-size: var(--ingress-mobile);
  padding: 5px;
}

input,
textarea {
  font-size: var(--body-mobile);
  font-family: var(--font-family-ingress-body);
  padding: 15px;
  border-radius: 5px;
  border-color: var(--dark);
  outline-color: var(--dark);
  border: 2px solid var(--dark);
  background-color: var(--offwhite);
}

.terms-and-conditions {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: var(--body-mobile);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.terms-and-conditions input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--offwhite);
  border-radius: 5px;
  border: 2px solid var(--dark);
}

/* When the checkbox is checked, add a blue background */
.terms-and-conditions input:checked ~ .checkmark {
  background-color: var(--medium);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.terms-and-conditions input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.terms-and-conditions .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

form > button {
  width: 30%;
  display: flex;
  align-self: center;
  margin-bottom: 32px;
}

.contact-wave {
  position: absolute;
  z-index: 25;
  content: url(../../assets/wave-3mini.svg);
  width: 100vw;
  bottom: -30px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .contact-us-container {
    padding: 150px 34px 50px 34px;
    background-color: var(--offwhite);
    position: relative;
  }

  .contact-us-info {
    text-align: center;
    padding-top: 34px;
  }

  .nameInput,
  .emailInput,
  .messageInput {
    display: flex;
    flex-direction: column;
    font-size: var(--body-tablet-desktop);
  }

  form {
    padding-top: 15px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    font-family: var(--font-family-ingress-body);
    color: var(--dark);
  }

  form label {
    font-size: var(--body-tablet-desktop);
    padding: 5px;
  }

  input,
  textarea {
    padding: 20px;
    font-size: var(--body-tablet-desktop);
  }

  .terms-and-conditions {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: var(--body-tablet-desktop);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  form > button {
    margin-bottom: 150px;
  }

  .contact-wave {
    content: url(../../assets/wave-3tablet.svg);
  }
}

@media screen and (min-width: 1280px) {
  .contact-us-container {
    padding: 300px 350px 0px 350px;
  }

  .contact-us-info {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .nameInput,
  .emailInput,
  .messageInput {
    font-size: var(--body-tablet-desktop);
  }

  form {
    padding-top: 15px;
    width: 100%;
    gap: 40px;
    font-family: var(--font-family-ingress-body);
    color: var(--dark);
  }

  form label {
    font-size: var(--body-tablet-desktop);
    padding: 5px;
  }

  input,
  textarea {
    padding: 20px;
    font-size: var(--body-tablet-desktop);
  }

  .terms-and-conditions {
    font-weight: 600;
  }

  form > button {
    margin-top: 40px;
    margin-bottom: 250px;
    width: 20%;
  }

  .contact-wave {
    content: url(../../assets/wave-3tablet.svg);
    width: min(100vw, 1400px);
  }
}
