.story-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px; 
    background-color: #ebe7e4;
  }
    
  .story-content {
    flex-basis: 50%;
    padding: 0 100px; 
  }
    
  .story-content h2 {
    font-size: 40px;
    color: #38302A;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
  }
    
  .story-content p {
    font-size: 20px;
    color: #38302A;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
  }
    
  .story-image {
    flex-basis: 50%;
    padding: 0 100px; 
    display: flex;
    justify-content: flex-end;
  }
    
  .story-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }
   
  /*mobile*/
  @media (max-width: 768px) {
    .story-section {
      flex-direction: column;
      padding: 50px 20px; 
    }
    
    .story-content,
    .story-image {
      flex-basis: auto;
      padding: 0; 
    }
    
    .story-content {
      padding-bottom: 20px; 
      text-align: center;
    }
  }

  /* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .story-section {
    flex-direction: column;
    align-items: flex-start; 
    padding: 50px; 
  }
  
  .story-content,
  .story-image {
    flex-basis: 100%; 
    padding: 0 50px; 
    text-align: center; 
  }

  .story-content {
    order: 1; 
    padding-bottom: 20px; 
  }

  .story-image {
    order: 2; 
    padding-top: 20px; 
    justify-content: center; 
  }

  .story-image img {
    width: 80%; 
    height: auto; 
    margin: 0 auto; 
  }
}

  