@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

:root {
  --main-text-color: #000000;

  --secondary-color: #e4dbd2;

  --button-static-color: #b3583b;
  --button-hover-color: #552a1c;
  --button-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    #a6c2c5 9.5%,
    #d2dbe0 28.5%,
    #d2dbe0 51%,
    #9ab8c8 66.5%,
    #a6c2c5 86%,
    #9cc2d5 100%
  );
}

h1 {
  font-family: "Calistoga", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 7.2px;
}
