/* Slideshow.css */

.slideshow {
    overflow: hidden; /* Ensures only part of the images are visible */
    width: 100%; /* Can adjust to any width */
    max-width: 600px;
    margin: auto; /* Centers the slideshow */
  }
  
  .slideshow-inner {
    display: flex; /* Aligns images in a row */
    width: max-content; /* Fits content width without breaking rows */
  }
  
  .slide {
    width: 24.375rem;
    height: 24.375rem;
    /* flex-shrink: 0; */
    object-fit: cover;
  }