.footer {
  grid-column: span 12;
  margin-bottom: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.social-media-box {
  display: flex;
  gap: 40px;
}

.social-icon {
  height: 24px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.footer-menu {
  padding: 0 16px;
  width: 292px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-menu ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-menu li {
  font-size: 14px;
  line-height: normal;
}

.footer-menu li:hover {
  font-weight: 600;
}

.footer-menu-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.language-dropdown {
  display: flex;
  justify-content: flex-end;
}

.dropdown-btn {
  background: none;
  font-size: 16px;
  border: none;
  width: 74px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-arrow {
  width: 9.218px;
  height: 16px;
}

.copyright-etc {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.copyright-etc p {
  font-size: 10px;
}

@media (min-width: 744px) and (max-width: 1493px) {
  .footer {
    gap: 64px;
  }

  .social-media-box {
    gap: 48px;
  }

  .social-icon {
    height: 40px;
  }

  .footer-text {
    gap: 64px;
  }

  .footer-menu {
    gap: 32px;
    padding: 0;
    width: 466px;
  }

  .footer-menu li {
    font-size: 16px;
  }

  .footer-menu-two {
    flex-direction: row;
    gap: 32px;
  }

  .dropdown-btn {
    font-size: 18px;
    width: 90px;
    gap: 16px;
  }

  .language-arrow {
    width: 13.826px;
    height: 24px;
  }

  .copyright-etc {
    gap: 16px;
  }

  .copyright-etc p {
    font-size: 14px;
  }
}

@media (min-width: 1494px) {
  .footer {
    gap: 120px;
  }

  .social-media-box {
    gap: 80px;
  }

  .social-icon {
    height: 56px;
  }

  .footer-text {
    gap: 80px;
  }

  .footer-menu {
    gap: 160px;
    padding: 0;
    width: 772px;
  }

  .footer-menu li {
    font-size: 18px;
  }

  .footer-menu-two {
    flex-direction: row;
    gap: 160px;
  }

  .dropdown-btn {
    font-size: 18px;
    width: 90px;
    gap: 16px;
  }

  .language-arrow {
    width: 13.826px;
    height: 24px;
  }

  .copyright-etc {
    gap: 16px;
  }

  .copyright-etc p {
    font-size: 16px;
  }
}