.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 10%;
}

.about-inner h3 {
    color: #FFE03B;
    padding-bottom: 2%;
}

.about-inner p {
    margin: 0 5%;
    padding-bottom: 4%;
}

/* ----- Making the content responsive ----- */
/* Tablet*/
@media (min-width: 667px) {
    .about-main {
        padding-top: 5%;
    }
}


/* Desktops */
@media (min-width: 1025px) {
    .about-main {
        padding-top: 8%;
    }

    .about-inner p {
        font-size: 20px;
    }
}