.a-button {
    background: var(--secondary-color);
    color: var(--font-color);
    text-decoration: none;
    width: fit-content;
    padding: 0.625rem;
    border: none;
    border-radius: 0.375rem;
}

.a-button:hover {
    color: var(--font-color);
    background: linear-gradient(180deg, var(--secondary-color), var(--tertiary-color));
}