.btnLight {
  display: flex;
  padding: 16px 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 45px;
  border: 3px solid #494f59;
  box-shadow: 4px 4px 4px 0px #4f2b39;
  color: #494f59;
  text-align: center;
  font-family: Open Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
}

.btnDark {
  display: flex;
  padding: 11px 25px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #4f2b39;
  color: white;
  box-shadow: 2px 2px 0px 0px rgba(79, 43, 57, 0.5);
}

.circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
