footer {
    height: 111px;
    background: #D9D9D9;
}

.footer-wrapper {
    margin: 0 24px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-link {
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: #45321A;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link[aria-current="true"] {
    text-decoration: underline;
  }

.language-wrapper {
    display: flex;
    gap: 16px;
}

.footer-anchor {
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: #45321A;
}

.footer-anchor:hover {
    text-decoration: underline;
}

/* Tablet */
@media (min-width: 667px) and (max-width: 1024px) { }



/* Desktop */
@media (min-width: 1025px) {
    footer {
        height: 141px;
    }
}