/*NOTE! 
The header does not really look like the design. 
This is due to a desicion me and the designer made
about changing the typeface to a free one, so I could get
it from google fonts. This did not oly effect the typeface, 
but also the size of the hamburger-menu, we decided it would look
nicer if the height of the menu would match the x-height of the new font.
*/


/*using the designers graphic element as a background to header*/
header {
    background-image: url(../../../public/assets/navElement.svg);
    z-index: 1000;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 8rem;
    padding: 1.5rem 1.5rem 1rem;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-img {
    height: 3rem;
}

.header-logotype {
    color: var(--yellow);
    font-size: 1.5rem;
}

.header-search-nav-container {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.menu-icon {
    stroke: var(--yellow);
    height: 1.7rem;
    width: 1.7rem;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--black);
    border: none;
    border-radius: 0.3rem; 
}

.search-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.search-bar {
   display: none;
   width: 100%;
   border: none;
   outline: none;
   color: var(--yellow);
   background: transparent;
}

.search-bar::placeholder {
    color: var(--yellow);
    padding-left: 0.2rem;
}

/*-----------MEDIA-----------*/

@media (min-width: 460px) {
    header {
        background-image: none;
        background-color: var(--black);
        border-radius: 0 0 0 40% ;
    }
}

@media (min-width: 800px) {
    header {
        padding: 2rem; 
        height: 8rem;
    }

    .search-container {
        border: var(--yellow) solid 1px;
    }

    .search-bar {
        display: flex;
    }

}

@media (min-width: 1020px) {
    header {
        height: 10rem;
        padding: 1.5rem 1rem 2rem;
    }

    .header-content-wrapper {
        padding-bottom: 2rem;
        align-items: flex-start;
    }

    .header-search-nav-container {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 2rem; 
        padding: 1rem 2rem 0;
    }
}