header {
    background: #D9D9D9;
    height: 117px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.header-wrapper {
    margin: 0 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    height: 100%;
}

.icon-home-link {
    margin-top: 31.57px;
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
}

.home-icon {
    width: 80px;
    height: 80px;
}

.icon-about-link {
    margin-top: 49px;
    grid-column: 4 / span 1;
    display: flex;
    text-decoration: none;
}

.icon-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#menu-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #45321A;
}

.link[aria-current="true"] {
    text-decoration: underline;
  }

/* Tablet */
@media (min-width: 667px) and (max-width: 1024px) {
    .home-icon {
        width: 101px;
        height: 101px;
    }

    .header-wrapper {
        margin: 0 24px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
}


/* Desktop */
@media (min-width: 1025px) {
    .header-wrapper {
        margin: 0 24px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
}