header {
    background-image: url(../../../public/assets/navElement.svg);
    z-index: 1000;
    background-color: var(--purplebright);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 8rem; 
}

.header-content-wrapper {
    padding: 1.5rem 1.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-img {
    height: 3rem;
}

.header-logotype {
    color: var(--yellow);
    font-size: 1.5rem;
}

.header-search-nav-container {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.menu-icon {
    stroke: var(--yellow);
    height: 1.7rem;
    width: 1.7rem;
}
.search-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--black);
    border: none;
    border-radius: 0.3rem;
    
}

.search-bar {
   display: none;
   width: 100%;
   border: none;
   outline: none;
   color: var(--yellow);
   background: transparent;
}

.search-bar::placeholder {
    color: var(--yellow);
    padding-left: 0.2rem;
}

@media (min-width: 800px) {
    .search-container {
        border: var(--yellow) solid 1px;
    }

    .search-bar {
        display: flex;
    }

}

@media (min-width: 1020px) {
    .header-content-wrapper {
        padding-bottom: 2rem;
        align-items: flex-start;
    }

    .header-search-nav-container {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 2rem; 
        padding: 1rem 2rem 0;
    }
}