.in-touch {
    background-color: #EBE7E4;
    padding: 20px;
    text-align: center;
  }
  .in-touch h1 {
    font-size: 24px;
    color: #38302A;
  }
  .in-touch h2 {
    font-size: 18px;
    color: #38302A;
    margin-top: 10px;
  }
  .subscribe-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
  }
  .subscribe-button {
    background-color: #38302A;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px; 
  }