.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.logo {
  margin: 0.6rem;
  width: 100%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
}

.navbar-links li {
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navbar-links li:hover {
  background-color: white;
}

.active {
  color: #d99fb5;
}

/* Show the menu when the burger icon is clicked */
.burger-menu.open .navbar {
  display: block;
}

@media screen and (min-width: 800px) {
  .nav-link ul {
    display: flex;
    float: right;
    flex-direction: row;
  }

  .nav-link li {
    align-items: center;
    justify-content: space-between;
  }
}
