nav {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding-right: 1rem;
}

/* Initial style for larger screens (834px and above) */
    @media (min-width: 834px) {
        .bm-menu {
          display: none; /* Hide the menu */
        }
      }
      
      /* Style for smaller screens (less than 834px) */
      @media (max-width: 833px) {
        .bm-menu {
          display: block; /* Show the menu */
          /* Add any other styles you want for smaller screens here */
        }
      }