.our-yoga {
    background-color: #EBE7E4; 
    padding: 20px; 
  }
  .our-yoga-content {
    text-align: center; 
    padding: 20px; 
  }
  .our-yoga-content h2 {
    font-size: 25px; 
    color: #38302A; 
  }
  .offerrings-button {
    background-color: #fff; 
    color: #38302A;
    padding: 10px 20px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    cursor: pointer;
  }
  .offerings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
  }
  .offerings img {
    width: 40%; 
  }
  .offerings-text {
    flex: 1;
    text-align: center;
  }
  .offerings-text h1 {
    font-size: 45px; 
  }
  .offerings-text h2 {
    font-size: 20px; 
    color: #38302A; 
    width: 40%;
  }
  .discoverclasses-button {
    background-color: #38302A; 
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;  
    border-radius: 10px;
    cursor: pointer;
  }