.header {
  position: relative;
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.navbar {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 100px; 
}
  
.nav-list {
  list-style: none;
  display: flex;
}
  
.nav-list li {
  margin-right: 100px; 
}

.nav-list li a {
  text-decoration: none;     
  font-size: 22px;
  font-weight: bold;
  color: #38302A; 
}
 
.buttons {
  display: flex;
  justify-content: flex-start; 
  margin-top: 20px; 
}

.discover-button,
.login-button {
  padding: 10px 20px;
  margin-right: 10px; 
  font-size: 16px; 
  background-color: #38302A; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  background-color: #333; 
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.text {
  z-index: 2; 
  padding: 20px;
  margin-left: 5%; 
  width: 40%; 
  color: #fff; 
}

 h1 {
  font-size: 4rem; 
  line-height: 1.2; 
  color: #38302A;  
}
  
h2 {
  color: #38302A; 
}

.image {
  right: 0;
  top: 0;
  width: 60%; 
  z-index: 1;   
}

.image img {
  width: 100%;
  height: auto;
}
