.header {
  position: relative;
  width: 100%;
}
.navbar {
  position: relative;
  z-index: 10; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 20px;
  }
  .logo {
    width: 100px; 
  }
  .nav-list {
    list-style: none;
    display: flex;
    margin-right: 100px;
  }
  .nav-list li {
    margin-right: 100px; 
  }
  .nav-list li a {
    text-decoration: none; 
    font-size: 22px;
    font-weight: bold;
    color: #38302A; 
  }


.welcome-page {
    text-align: left;
  }
  .welcome-text {
    text-align: left;
  }
  h1 {
    font-size: 24px; 
  }
  h2 {
    font-size: 18px; 
    color: #38302A; 
  }
  
  
  .buttons {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px; 
  }
  .discover-button,
  .login-button {
    padding: 10px 20px;
    margin-right: 10px; 
    font-size: 16px; 
    background-color: #38302A; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-button {
    background-color: #333; 
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 0; 
    width: 100%;
  }
  .text {
    flex: 1;
  padding-right: 20px;
  }
  .image {
    width: 60%; 
    margin-left: auto;    
  }
  .image img {
    display: block; 
    width: 100%; 
    position: relative; 
    top: -200px; 
    z-index: 5; 
  }
