/* Carousel Styles */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
  }
  
  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .slick-list:focus {
    outline: none;
  }
  
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track, 
  .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
  
  .slick-track:before,
  .slick-track:after {
    content: "";
    display: table;
  }
  
  .slick-track:after {
    clear: both;
  }
  
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
      float: right;
    }
    img {
      display: block;
    }
    &.slick-loading img {
      display: none;
    }
    display: none;
  }
  
  .slick-initialized .slick-slide {
    display: block;
  }
  
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  

.icon-text {
    width: 280px;
    flex-basis: auto;  /* Resets the flex-basis so each SVG-text pair takes the space it requires */
    margin-bottom: 15px;  
    position: relative;
    
}
.icon-text img {
    max-width: 100%;  
   display: block;
}

.icon-text p {
    width: 100%;
    color: black;
    position: absolute;
    top: 40%; 
    left: 50%;  
    transform: translate(-50%, -50%); 
    font-weight: bold; 
    font-size: 1rem; 
    z-index: 1; 
    
}

