button {
    border-radius: 50px;
        background: #FFE03B;
        color: rgba(1, 42, 97, 1);
        border: none;
        padding: 10px;
        text-wrap: nowrap;
       
        height: 43px; 

    color: #012A61;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.7px;
}

.join-button {
    width: 125px;
}

.read-more-btn {
    width: 125px;
}

.register-btn {
    width: 272px;
        height: 34px;
}

@media (min-width: 668px) and (max-width: 1024px) {
    button {
        height: 96px;
    }

    .join-button {
    font-size: 32px; 
    width: 295px;
    }
}

@media (min-width: 1025px) {
    button {
        height: 140px;
    }
    .join-button {
        font-size: 45px;
        width: 470px;
    }
}