.courses-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.25rem;
    padding: 3rem 1.25rem 2.5rem;
}


.course-card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.course-card p {
    text-align: left;
}

/*-------CAROUSEL-------*/

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.course-image {
    height: 13rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.slide-hidden {
    display: none;
}

.arrow {
    position: absolute;
    top: 6rem;
    width: 1.5rem;
    height: 1.5rem;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
    transform: scaleX(-1);
}

.arrow-right {
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    top: 11.5rem;
}

.indicator {
    background-color: var(--yellow);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive {
    background-color: var(--yellowtransparent);
}
