.instagram-section {
    background-color: var(--purplebright);
    padding: 1.5rem;
}

.instagram-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 3rem 0 2.5rem;
    text-align: center;
}

.instagram-content-wrapper h2,
.instagram-content-wrapper h3 {
    color: white;
}

.insta-btn-container {
    width: 17rem;
}

.insta-icon {
    fill: var(--black);
    border: solid 1.5px var(--black);
    border-radius: 50%;
    padding: 0.3rem;
    margin: -0.5rem;
    height: 2.5rem;
    width: 2.5rem;
}

/*SCROLL CAROUSEL*/
.insta-carousel {
    scroll-snap-type: x mandatory;
    position: relative;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    gap: 1rem;
}

.insta-image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 0.2rem;
}

@media (min-width: 700px) {
    .insta-image {
        width: 16rem;
        height: 16rem;
    }
}