.kindwords-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
    padding: 3rem 1.25rem 2.5rem;
}

.kind-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; 
}

.kind-card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    text-align: left;
    max-width: 30rem; 
}

.kind-image {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    background-size: cover; 
}

@media (min-width: 425px) {
    .kind-image {
        width: 20rem;
        height: 20rem;
    }
}

/*using 1080 for desktop instead of 1284*/
@media (min-width: 1080px) {
    .kind-card-wrapper{
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
    }
    .kind-card {
        max-width: 20rem; 
    }
}