/* Overall footer styling */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-green);
    color: var(--primary-white);
    text-align: center;
}

.footer-wrapper {
    padding: 59px 26px;
}

/* Subscribe section  */
.footer-h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

footer input#email::placeholder {
    color: var(--primary-black);
    font-weight: 300;
    font-size: 14px;
}

.subscribe-input-fields {
    align-items: center;
    position: relative;
}

footer input#email {
    border-radius: var(--button-border-radius);
    padding: 5px 20px;
    width: 100%;
    height: 55px;
}

footer button.green {
    height: 45px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.subscribe-form {
    color: var(--primary-black);
}

/* Language selector */
.language-and-social {
    margin-top: 38px;
    display: flex;
    gap: 38px;
    justify-content: center;
}

.icon-group {
    display: flex;
    gap: 18px;
}

.language-and-social img {
    width: 19px;
}

select {
    border: 1px solid var(--primary-white);
    border-radius: 8px;
    background-color: var(--dark-green);
    color: var(--primary-white);
    font-family: var(--main-font)!important;
}

.language-selector {
    position: relative;
}

.custom-select {
    background-color: transparent; /* Make the background transparent */
    padding-left: 25px; /* Add padding to the left for the icon */
}

.uk-flag-icon {
    max-width: 19px;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 9px;
    transform: translateY(-50%);
}

/* Footer links section */
.footer-links {
    margin-top: 74px;
    padding: 0 48px;
    display: flex;
    gap: 69px;
    justify-content: center;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links ul {
    gap: 10px;
}

.studio, .support {
    display: flex;
    flex-direction: column;
}

#twitter-icon {
    margin-top: 2px;
}

/* Adress and info section */
.info-section {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

@media (min-width: 834px) and (max-width: 1511px) {
    .footer-wrapper {
        padding: 150px 110px 75px 110px;
        margin: 0 auto;
    }

    .language-and-social img {
        width: 32px;
    }

    .language-selector {
        margin-top: 121px;
        gap: 101px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .language-select {
        height: 33px;
        position: relative;
    }

    .footer-links {
        margin-top: 0;
        padding: 0;
        gap: 101px;
    }

    .uk-flag-icon {
        position: absolute;
        top: 12%;
        left: 370px;
        transform: translateY(-50%);
    }
}

@media (min-width: 1511px) {
     .footer-wrapper {
        padding: 123px 100px;
    }

    .footer-subsection {
        position: relative;
    }

    .subscribe-and-heading {
        max-width: 550px;
        /* position: relative; */
    }

    .footer-h2 {
        text-align: left;
    }

    .language-and-social {
        display: flex;
        justify-content: flex-start;
    }

    .language-selector {
        display: flex;
        justify-content: flex-end;
        gap: 200px;
        position: absolute;
        top: -125px;
        right: 0;
    }

    .language-select {
        max-height: 33px;
        position: relative;
    }

    .footer-links {
        margin-top: 0;
        padding: 0;
        gap: 200px;
        text-align: left;
    }

    .language-and-social img {
        width: 32px;
    }

    .info-section {
        margin-top: 147px;
        margiin-top: 333; 
    }

    .uk-flag-icon {
        position: absolute;
        top: 11%; /* Center vertically */
        left: 607px; /* Adjust the distance from the right */
        transform: translateY(-50%);
    }
}
