.footer-wrapper {
   border-top: solid 3px var();
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-green-opacity-70);
   padding: 20px;
   border-top: 3px solid var(--color-purple); 
}

.footer-logo {
   width: 60px;  
   padding-right: 10px;
}

.footer-links {
   display: flex;
   gap: 20px;
}

.footer-links a {
   font-size: 14px;
   color: black;  
   text-decoration: underline;
   font-weight: 500;
}

.footer-links a:hover {
   text-decoration: underline;
}

.flags-container {
   display: flex;
   justify-content: center;  
   align-items: center;      
   margin-top: 20px;       
}

.flag-icon {
   width: 20px;             
   height: 20px;
   border-radius: 50%;     
   margin: 0 10px;         
   object-fit: cover;       
   cursor: pointer;       
}

.flag-icon:hover {
   opacity: 0.8;  
   cursor: pointer;         
}

.footer-container {
   display: flex;
   align-items: center;
   justify-content: space-between; 
}

  
  /* Media query for screens between 600px and 900px */
  
@media (min-width: 601px) and (max-width: 900px) {
.footer-logo {
   width: 80px;
   padding: 10px;
   } 
.flag-icon {
   width: 30px;
   height: 30px;
   margin-left: 0;
   margin-right: 25px;
   }
.flags-container {
   justify-content: start;
   }
.footer-links a {
   font-size: 15px;
   }

}
  
  /* Media query for screens between 900px and 1200px */
  
@media (min-width: 901px)  {
.logo-container {
   width: 80%;
}

.footer-links {
   font-size: 15px;
   gap: 80px;
}
.footer-logo {
   width: 100px;
}
.footer-wrapper {
   padding: 10px;
}
.flags-container {
   display: flex;
   justify-content: flex-start;
   margin-left: -10px;
}
}
