/* Overall footer styling */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-green);
    color: var(--primary-white);
    padding: 59px 26px;
    text-align: center;
}

/* Subscribe section  */
.footer-h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

input#email::placeholder {
    color: var(--primary-black);
    font-weight: 300;
    font-size: 14px;
}

.subscribe-input-fields {
    align-items: center;
    position: relative;
}

input#email {
    border-radius: var(--button-border-radius);
    padding: 5px 20px;
    width: 100%;
    height: 40px;
}

button.green {
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Language selector */
.language-and-social {
    margin-top: 38px;
    display: flex;
    gap: 38px;
    justify-content: center;
}

.icon-group {
    display: flex;
    gap: 18px;
}

.language-and-social img {
    width: 19px;
}

select {
    border: 1px solid var(--primary-white);
    border-radius: 8px;
    background-color: var(--dark-green);
    color: var(--primary-white);
    font-family: var(--main-font)!important;
}

/* Footer links section */
.footer-links {
    margin-top: 74px;
    display: flex;
    justify-content: center;
}

.studio, .support {
    display: flex;
    flex-direction: column;
}