footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-green);
    color: var(--primary-white);
}

select {
    border: 1px solid var(--primary-white);
    border-radius: 8px;
    background-color: var(--dark-green);
    color: var(--primary-white);
    font-family: var(--main-font)!important;
}
    
.footer-links {
    display: flex;
}

.studio, .support {
    display: flex;
    flex-direction: column;
}