.mainContainer {
    display: flex;
    background-color: #40205A;
    height: 15em;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
}

.contentWrapper img {
    width: 234px;
}

/* .row1 {
    display: flex;
    flex-direction: row;
}

.row2 {
    display: flex;
    flex-direction: row;
}

.row3 {
    display: flex;
} */

.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons img {
    width: 28px;
}

/* @media screen and (max-width: 667px) {
    .mainContainer {
        height: 18em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row1, .row2, .row3 {
        flex-direction: row;
        gap: 3em;
    }

    .row1 img {
        width: 212px;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .mainContainer {
        margin: 0;
    }
} */