.red .footer {
    margin-top: 30px;   
}

.footer-logo {
    width: 116px;
}

.footer ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer li {
    list-style-type: none;
}
.footer a {
    color: var(--font-color);
    font-weight: 500;
    padding-bottom: 5px;
}