.red .footer {
    margin-top: 30px;  
    position: relative; 
    margin-bottom: 51.5px;
}

.footer-logo {
    width: 116px;
}

.footer ul {
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer li {
    list-style-type: none;
}
.footer a {
    color: var(--font-color);
    font-weight: 500;
    padding-bottom: 5px;
}
.social-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 24.5px;
}
.social-media {
    height: 24.5px;
    width: 24.5px;
}