.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 29px;
  width: 100%;
}

.header img {
  height: 42px;
  margin-top: 62px;
  margin-left: 25px;
}

.menu {
  display: none;
}

.header-button {
  display: none;
}

@media (min-width: 391px) and (max-width: 744px) {
  .header-button {
    display: block;
  }
  .show-menu {
    display: block; /* Display the menu when the "show-menu" class is applied */
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 20px;
  }

  .menu-link {
    margin-right: 10px;
  }

  .header-button {
    display: block;
  }
}
