.selling-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
}

.usp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.usp-icon {
    background-color: var(--secondary-color);
    
    width: 41px;
    height: 41px;

    padding: 7px;
    border-radius: 5px;
}
.neg-6137deg {
    transform: rotate(-6.137deg);
}
.pos-4623deg {
    transform: rotate(4.623deg);
}
.pos-5999deg {
    transform: rotate(5.999deg);
}
.neg-5432deg {
    transform: rotate(-5.432deg);
}

.usp-text {
    width: 140px;
    text-align: center;
    font-weight: 600;
}