#offering {
  background-color: var(--popping-orange);
  text-align: center;
}

.offering-title {
  margin-bottom: 2.5rem;
}

.offer-info {
  margin-bottom: 3rem;
}

#offering p {
  line-height: 162.5%;
  color: #d9d9d9;
}

.changing-words {
  color: #fff;
  font-family: var(--metal-mania);
  font-size: 1.5rem;
}

.single-word {
  color: #fff;
}

/* For medium devices */
@media (min-width: 744px) {
  #offering {
    text-align: left;
  }
}
