.aboutUsPage-wrapper {
    background-color: var(--color-blue-opacity-60);
}

.vision-img {
    width: 100%;
}

.vision-text {
    padding: 20px;
}

.vision-text h1 {
    color: black;
}

.story-img {
    width: 100%;
}

.story-text {
    padding: 20px;
}

.story-text h1 {
    color: black;
}

.form-img {
    width: 100%;
}

/* ... (your existing styles) ... */

.contact-form {
    background-color: #F9FAFA;
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Adjust gap between items */
    padding: 20px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc; 
}

.contact-form textarea {
    height: 150px;  /* Adjust the height as necessary */
}

.contact-form .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-wrapper input {
    width: 10px;
}

.checkbox-wrapper label {
    font-size: 12px; /* Adjust this value to your preference */
}

input[type="checkbox"] {
    transform: scale(1.5); 
    margin-right: 10px; 
}


.contact-form button {
    background-color: black;  /* Example color; adjust as needed */
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: green; /* Darken on hover for example */
}

.grey-text {
    color: grey;
}

  /* Media query for screens up to 600px */

  @media (max-width: 600px) {
   
  }
  
  /* Media query for screens between 600px and 900px */
  
  @media (min-width: 601px) and (max-width: 900px) {
      
  }
  
  /* Media query for screens between 900px and 1200px */
  
  @media (min-width: 901px) and (max-width: 1200px) {
     
  }
  
  /* Media query for screens above 1200px */
  
  @media (min-width: 1201px) {
     
  
  }