.footer {
  background-color: #f9fafa;
  color: #38302A;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
}

.footer-left, .footer-right {
  flex: 1; 
}

.footer-center {
  flex: 0 1 auto; 
  text-align: center; 
}

.footer-logo {
  width: 100px; 
}

.footer-left p, .footer-right div {
  margin-bottom: 10px;
}

.footer-left p {
  text-align: left;
  margin-left: 20px; 
}

.footer-right {
  text-align: right;
}

.footer-right p {
  margin: 0; 
}

.Social-media {
  margin-right: 20px;
  width: 70px;
  margin-left: 20px;
  cursor: pointer;
}

.Flag {
  width: 40px;
  cursor: pointer;
}
  