.our-yoga-section {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-areas: 
      "our-yoga our-yoga our-yoga"
      ". yoga-container .";
    align-items: center;
    padding: 50px;
    background-color: #ebe7e4;
  }
  
  .our-yoga-content {
    text-align: center;
    padding: 20px;
    grid-area: our-yoga;
  }
  
  .our-yoga-content p {
    font-size: 25px;
    color: #38302A;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .offerings-button {
    background-color: #fff;
    color: #38302A;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .offerings-button:hover {
    background-color: #7a899a;
    color: #fff;
  }

  /*mobile*/
@media (max-width: 768px) {
    .our-yoga-section {
      display: flex;
      flex-direction: column;
      padding: 5px;
      background-color: #ebe7e4; 
    }
  
    .our-yoga-content {
      order: 1; 
      text-align: center;
      padding-bottom: 20px; 
    }
    .offerings-button {
    font-size: 14px;
    padding: 10px;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  .our-yoga-content p {
    font-size: 16px;
    padding: 0 10px;
  }

  .our-yoga-content h1 {
    font-size: 24px; 
  }
}
