#hero {
  background-image: url(./petra1.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;
  height: 100vh;
}

.hero-wrapper {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;
}

.satnam-btn-wrapper {
  display: flex;
  justify-content: center;
}

#hero p {
  margin: 1rem 0;
  line-height: 1.9rem;
}

/* .overlay {
  background-color: rgba(20, 24, 50, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
} */
