#hero {
  background-image: url(../petra1.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;
  height: 100vh;
}

.imageOnBiggerScreens {
  display: none;
}

.hero-wrapper {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;
}

.satnam-btn-wrapper {
  display: flex;
  justify-content: center;
}

#hero p {
  margin: 1rem 0;
  line-height: 1.9rem;
  max-width: 20rem;
}

.overlay {
  background-color: rgba(20, 24, 50, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
}

/* For medium devices */
@media (min-width: 744px) {
  #hero {
    background-image: none;
    position: static;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .imageOnBiggerScreens {
    display: block;
  }

  .imageOnBiggerScreens img {
    height: 100%;
    object-fit: cover;
  }

  .hero-wrapper {
    position: static;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    background-color: var(--marine);
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .overlay {
    display: none;
  }
}
