body {
    background-color: #F2F2F2;
    background-repeat: repeat;
    font-family: 'Montserrat';
}

h1 {
   color: #4A205A;
   font-size: 50px;
}

.siteContainer {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

@media screen and (max-width: 667px) {
    .siteContainer {
        grid-template-columns: 1fr;
    }

    .contentWrapper {
        flex-direction: column;
        gap: 3.5em;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .siteContainer {
        grid-template-columns: 1fr;
    }

    .contentWrapper {
        flex-direction: column;
        gap: 3.5em;
        margin: 1.5em;
    }
}