body {
    background-color: #F2F2F2;
    /* background-image: url('./assets/backgroundpattern.svg'); */
    background-repeat: repeat;
    font-family: 'Montserrat';
}

h1 {
   color: #4A205A;
   font-size: 50px;
}

.siteContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contentWrapper {
    display: flex;
}

.logoContainer {
    padding: 70px;
}

.heroContainer {
    grid-column: 4 / 5;
}

@media screen and (max-width: 667px) {
    .siteContainer {
        grid-template-columns: 1fr;
    }

    .contentWrapper {
        flex-direction: column;
        gap: 1.5em;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .siteContainer {
        grid-template-columns: repeat, (2, 1fr);
    }
}