.header {
  position: relative;
  top: 0;
  height: 25px;
}

.footer {
  position: relative;
  bottom: 0;
}

.grid-parent {
  display: grid;
  grid-template-columns: 25px repeat(12, 1fr) 25px;
  width: 100%;
}

.section {
  grid-column: 2 / span 12;
}
