:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #f9fafa;
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
}
.logo {
  width: 100px; 
  margin-right: 500px;
}
.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}
.nav-list li {
  margin-right: 70px; 
}
.nav-list li:last-child {
  margin-right: 0; 
}
.nav-list li a {
  text-decoration: none; 
  font-size: 18px;
  font-weight: bold;
  color: #38302A; 
}


/*welcome page text*/
.welcome-page {
  text-align: left;
}
.welcome-text {
  text-align: left;
}
h1 {
  font-size: 24px; 
}
h2 {
  font-size: 18px; 
  color: #38302A; 
}


/* welcome text buttons*/
.buttons {
  display: flex;
  justify-content: flex-start; 
  margin-top: 20px; 
}
.discover-button,
.login-button {
  padding: 10px 20px;
  margin-right: 10px; 
  font-size: 16px; 
  background-color: #38302A; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-button {
  background-color: #333; 
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
  width: 100%;
}
.text {
  flex: 1;
}
.image {
  flex: 1;
  text-align: right;
}


/* OurYoga section */
.our-yoga {
  background-color: #EBE7E4; 
  padding: 20px; 
}
.our-yoga-content {
  text-align: center; 
  padding: 20px; 
}
.our-yoga-content h2 {
  font-size: 18px; 
  color: #38302A; 
}
.offerrings-button {
  background-color: #38302A;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.offerings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}
.offerings img {
  width: 50%; 
}
.offerings-text {
  flex: 1;
  text-align: left;
}
.offerings-text h1 {
  font-size: 24px; 
}
.offerings-text h2 {
  font-size: 18px; 
  color: #38302A; 
}
.discoverclasses-button {
  background-color: #38302A;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;  
}

/*Box section */
.boxes {
  background-image: url("section 4.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box {
  color: #fff;
  background: #38302A; 
  padding: 20px;
  border-radius: 8px;
  font-size: 24px;
}

/*Book now*/
.new-yoga {
  background-color: #EBE7E4; 
  padding: 20px; 
}
.new-yoga-content {
  text-align: center; 
  padding: 20px; 
}
.new-yoga-content h2 {
  font-size: 18px; 
  color: #38302A; 
}
.book-button {
  background-color: #38302A;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/* About */
.about-text {
  flex: 1;
  text-align: left;
}
.about-text h1 {
  font-size: 24px; 
}
.about-text h2 {
  font-size: 18px; 
  color: #38302A; 
}
.discoverstory-button {
  background-color: #38302A;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;  
}


/* Recent posts */
.recent-posts {
  background-color: #7A899A;
  padding: 20px;
}
.post-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.post-box {
  background-color: #f9fafa;
  padding: 10px;
  border-radius: 8px;
}
.post-box img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.post-box p {
  font-size: 14px;
  color: #38302A;
}
.read-more-button {
  background-color: #38302A;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* In touch */
.in-touch {
  background-color: #EBE7E4;
  padding: 20px;
  text-align: center;
}
.in-touch h1 {
  font-size: 24px;
  color: #38302A;
}
.in-touch h2 {
  font-size: 18px;
  color: #38302A;
  margin-top: 10px;
}
.subscribe-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-form input {
  padding: 10px;
  width: 60%;
  margin-right: 10px;
}
.subscribe-button {
  background-color: #38302A;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px; 
}


/* Footer */
.footer {
  background-color: #f9fafa;
  color: #38302A;
  padding: 20px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Space items evenly */
}
.footer-left {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start;
}
.footer-left p {
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer; /*The cursor: pointer property is added to give a visual indication that these are clickable links.*/
  text-align: left;
}
.footer-logo {
  width: 100px; /* Adjust the width as needed */
}
.footer-right {
  text-align: right;
}
.footer-right div {
  margin-bottom: 20px; /* Space between each block of information */
}
.footer-right p {
  margin: 0; /* Reset default margin for paragraphs */
}
