:root {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url("/Images/space-background.jpg");
  background-repeat: repeat;
  background-size: cover;
  margin: 0px;
}

.app-wrapper {
  margin: 0px;
  max-width: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}


@media (min-width: 667px) {
  .app-wrapper {
    max-width: 100%;
  }
}