@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;

  --clr-hover-blue: #2330c5;
  --clr-main-blue: #2735db;
  --clr-background-lavender: #bb9cf0;
  --clr-light-lavender: #f5f0fd;
  --clr-background-neon-green: #effc7f;

  --clr-text-light: #fff;
  --clr-text-dark: #000;
}

h1,
h2,
h3,
h4 {
  font-family: 'Orelega One';
}

h1 {
  font-size: 48px;
  line-height: 32px;
}

h2 {
  font-size: 21px;
  line-height: auto;
}

h3 {
  font-size: 18px;
  line-height: auto;
}

h4 {
  font-size: 14px;
  line-height: auto;
}

/* Large Paragraf, use .small-paragraf for small paragrafs. */
p {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 22.4px;
}

.small-paragraph p {
  font-size: 14px;
  line-height: 19.6px;
}

.quote p {
  font-style: italic;
  font-size: 14px;
  line-height: 19.6px;
}

/* Desktop */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 80px;
    line-height: 96px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  /* Large Paragraf, use .small-paragraf for small paragrafs. */
  p {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 25.2px;
  }

  .small-paragraph p {
    font-size: 16px;
    line-height: 22.4px;
  }

  .quote p {
    font-style: italic;
    font-size: 24px;
    line-height: 33.6px;
  }
}
