@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  background-color: #120740;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.hover\:bg-darkPurple:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(246 229 60 / var(--tw-bg-opacity));
}
