.membersSection {
  background-color: #fef8ea;
  color: #030303;
  padding-left: 2em;
}

.quoteHeading {
  color: #030303;
}

.quoteBox {
  vertical-align: middle;
  display: inline;
}

.membersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.membersBox {
  font-family: "Montserrat", sans-serif;
  padding: 1em;
}

.linkButtonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 300px;
}

.linkButtonBox {
  padding: 3em 1em;
  text-align: center;
  color: #c9694d;
}

.buttonName {
  background-color: #fef8ea;
}
