nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    fill: var(--yellow);
}

.menu-icon.open {
    display: none;
}

.nav-links {
    list-style: none;
    display: none;
    background-color: aqua;
}

.nav-links li {
    margin-right: 1rem;
    color: var(--yellow);
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%
}

.nav-links.active li {
    text-align: center;
    color: var(--yellow);
}



@media (min-width: 1020px) {
    .nav-links {
        display: flex;
    }

    .menu-icon {
        display: none;
    }
} 


