.readMore-section {
    background: #1C1D23;
    margin: 0;
    
}

.readMore-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 71px;
    padding: 41px 20px;
}

.readMore-text-container {
    text-align: center;
}

.readMore-text-container h1{
    color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.readMore-text-container p {
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.77px;
}

/*---- Media query -----*/

@media (min-width: 667px) {
    .readMore-text-container h1 {
        font-size: 40px;
        font-weight: 600;
    
    }
    .readMore-text-container p {
        font-size: 30px;
    }

    .readMore-section {
        padding: 70px;
       
    }

    .readMore-wrapper {
        gap: 90px;
    }
}

/* @media (min-width: 1025px) {
    .readMore-text-container h1 {
            font-size: 55px;
        }
    
        .readMore-text-container p {
            font-size: 45px;
        }
    
        .readMore-section {
            padding: 70px;
        }
    
        .readMore-wrapper {
            gap: 90px;
        }
} */