.mainContainer {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-image: url('src/assets/benefitsTick.svg');
    color: #4A205A;
    font-weight: 600;
    font-size: 21px;
}

li {
    margin-bottom: 8px;
}

.ourPrograms {
    display: flex;
    align-items: center;
    width: 260px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid #4A205A;
    color: #4A205A;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    padding: 24px 30px 24px 30px;
}

@media screen and (max-width: 667px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
}