.conceptcard-scroll {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    margin-top: 10%;
    margin-bottom: 10%;
    gap: 5%;
}

.conceptcard-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.concept-inner {
    position: relative;

}

.conceptcard-scroll img {
    width: 324px;
    height: 500px;
    border-radius: 10%;
    padding: 5%;
    object-fit: cover;
    object-position: 25%;
}


.conceptcard-scroll h3 {
    text-align: center;
    position: absolute;
    left: 55%;
    top: 83%;
    transform: translateX(-50%);
    width: 100%;
}

/* ----- Making the content responsive ----- */
/* Tablet*/
@media (min-width: 667px) {
    .conceptcard-scroll img {
        width: 400px;
        border-radius: 7%;
        padding: 6%;
        object-position: 15%;
    }
}

/* Desktops */
@media (min-width: 1025px) {
    .conceptcard-scroll img {
        width: 550px;
        height: 650px;
        border-radius: 6%;
        padding: 5%;
    }

    .conceptcard-scroll h3 {
        top: 80%;
    }
}