.conceptcard-scroll {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    margin-top: 10%;
    margin-bottom: 10%;
}

.conceptcard-scroll img {
    max-width: 75%;
    max-height: auto;
    border-radius: 10%;
    padding: 5%;
}

.conceptcard-scroll h3 {
    position: absolute;
    margin-bottom: 5%;
}