.hero h1 {
    color: #FFE03B;
    padding-bottom: 5vh;
}

.hero h2 {
    padding-bottom: 30vh;
}

.hero {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* ----- Making the content responsive ----- */
/* Small phones (The text was covered by the header/navbar in small phones

/* Desktops */
@media (min-width: 1025px) {
    .hero {
        padding-top: 5%;
    }
}