.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  top: 220px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 100%; /* Set width to 100% of the container */
  margin-right: 24px; /* This should be the same as slideMarginRight in JSX */
  /* flex: 0 0 auto;  */
}

.carousel-item:last-child {
  margin-right: 0; /* No margin for the last item */
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}
