.burgerMenu {
  display: block;
  padding-right: 1.5rem;
  cursor: pointer;
}

.burgerMenu img {
  object-fit: contain;
  width: 100%;
  padding: 0.5rem 1rem 0 1rem;
}

.navigation {
  display: none;
}

/*media query for tablet */
@media (min-width: 668px) and (max-width: 1024px) {
}

/*media query for desktop */
@media (min-width: 1025px) {
  .burgerMenu {
    display: none;
  }

  .navbarContainer {
    display: flex;
    width: 100%;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .navItem {
    display: flex;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
