.navbarContainer {
}

.logo {
  float: left;
  max-height: 40px;
}

.navMenu {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: right;
}

.navbar a {
  display: block;
  float: right;
  text-align: center;
  padding: 2em;
  text-decoration: none;
  font-size: 17px;
  word-wrap: normal;
  text-decoration: none;
}

.navbar a:hover {
}

.navMenuOption {
  margin: 0;
}

.signupNavButton {
  border-radius: 3em;
  padding: 0.7em;
  color: white;
}

.hamburgerMenu {
  display: none;
}

/* for mobile view */
@media screen and (max-width: 625px) {
  .hamburgerMenu {
    padding-right: 1.5rem;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .logo {
    float: none;
  }
}
